<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- nivo-slider -->
    <link rel="stylesheet" href="assets/plugin/css/default.css">
    <link rel="stylesheet" href="assets/plugin/css/nivo-slider.css">
     <!-- font-awesome    -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <!-- lightbox-gallery -->
     <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
     <!-- flat-icon -->
     <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
     <!-- main-style -->
     {{!-- carousel --}}
     <link rel="stylesheet" href="plugins/css/owl.carousel.min.css">
     <link rel="stylesheet" href="plugins/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <style>
        input.ml-1 {
    margin-right: 7px;
}
    </style>
    <!-- <link rel="stylesheet" href="responsive.css"> -->
    <title>Laundry Express</title>
</head>
<body>
    <div class="container">
       <div class="col-md-6 offset-md-3">
            <div class="card border mt-4">
            <h2 class="p-3 text-center border" style="background: tomato;color:#FFF;text-transform:uppercase">Quiz</h2>
            <div class="card-body">
                
                <form>
                    <div class="form-group">
                        <label style="display: block;" for=""><b>1)</b> Who is the president of Bangladesh?</label>
                        <div id="question-one">
                            <label style="display: block;" for=""><input type="radio"  name="one" class="ml-1" value="H.M Ershad">H.M Ershad</label>
                            <label style="display: block;" for=""><input type="radio"  name="one" class="ml-1" value="Sheik Hasina">Sheik Hasina</label>
                            <label style="display: block;" for=""><input type="radio"  name="one" class="ml-1" value="Adbul Hamid">Adbul Hamid</label>
                            <label style="display: block;" for=""><input type="radio"  name="one" class="ml-1" value="Khaleda zia">Khaleda zia</label>
                        </div>
                        
                        <label id="question-one-ans" style="display: block;opacity:0;color:tomato;">Correct: Abdul Hamid</label>
                    </div>
                     <div class="form-group">
                        <label style="display: block;" for=""><b>2)</b>Who is the Prime minister of Bangladesh?</label>
                        <div id="question-two">
                            <label style="display: block;" for=""><input type="radio"  name="two" class="ml-1"value="H.M Ershad">H.M Ershad</label>
                        <label style="display: block;" for=""><input type="radio"  name="two" class="ml-1" value="Sheik Hasina">Sheik Hasina</label>
                        <label style="display: block;" for=""><input type="radio"  name="two" class="ml-1" value="Adbul Hamid">Adbul Hamid</label>
                        <label style="display: block;" for=""><input type="radio"  name="two" class="ml-1" value="Khaleda zia">Khaleda zia</label>
                        </div>
                        <label id="question-two-ans" style="display: block;opacity:0;color:tomato;">Correct:Sheik Hasina</label>
                    </div>
                     <div class="form-group">
                        <label style="display: block;" for=""> <b>3)</b>Who is the president of BCB?</label>
                         <div id="question-three">
                            <label style="display: block;" for=""><input type="radio"  name="three" class="ml-1" value="Nazmul Hassan Papon">Nazmul Hassan Papon</label>
                            <label style="display: block;" for=""><input type="radio"  name="three" class="ml-1" value="Sheik Hasina">Sheik Hasina</label>
                            <label style="display: block;" for=""><input type="radio"  name="three" class="ml-1" value="Naymur Rahman Durjoy">Naymur Rahman Durjoy</label>
                            <label style="display: block;" for=""><input type="radio"  name="three" class="ml-1" value="Habibul Bashar">Habibul Bashar</label>
                         </div>
                        <label id="question-three-ans" style="display: block;opacity:0;color:tomato;">Correct:Nazmul Hassan Papon</label>
                    </div>
                     <div class="form-group">
                        <label style="display: block;" for=""><b>4)</b> Who is the captain of Bangladesh Football Team?</label>
                        <div id="question-four">
                            <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Noyon Ahmmed">Noyon Ahmmed</label>
                        <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Jamal Sheik">Jamal Sheik</label>
                        <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Mominul Haq">Mominul Haq</label>
                        <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Imptiaz Ahmmed">Imptiaz Ahmmed</label>
                        </div>
                        <label id="question-four-ans" style="display: block;opacity:0;color:tomato;">Correct:Jamal Sheik</label>
                    </div>
                     <div class="form-group">
                        <label style="display: block;" for=""><b>5)</b>Who is the Captain of Bangladesh Cricket Team in T20?</label>
                        <div id="question-five">
                            <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Tamim Iqbal">Tamim Iqbal</label>
                            <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Mushfiqur Rahim">Mushfiqur Rahim</label>
                            <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Mahmudullah Riad">Mahmudullah Riad</label>
                            <label style="display: block;" for=""><input type="radio"  name="four" class="ml-1" value="Shakib al Hassan">Shakib al Hassan</label>
                        </div>
                        <label id="question-five-ans" style="display: block;opacity:0;color:tomato;">Correct:Mahmudullah Riad</label>
                    </div>
                    
                     
                     <button  class="btn btn-primary" onclick = "marksDisplay()">Submit</button>
                </form>
            </div>
        </div>
        
       </div>
    </div>

   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script>
         
        let marks = 0;
         $('#question-one input').click(function() {
            $('#question-one input').prop('disabled', $(this).is(':checked'));
             $('#question-one-ans').css("opacity","1")
              if($('input[name=one]:checked', '#question-one').val() == 'Adbul Hamid'){
               marks +=1; 
             
              
           } 
         });
           $('#question-two input').click(function() {
            $('#question-two input').prop('disabled', $(this).is(':checked'));
             $('#question-two-ans').css("opacity","1")
              if($('input[name=two]:checked', '#question-two').val() == 'Sheik Hasina'){
               marks +=1; 
             
               
           } 
         });
           $('#question-three input').click(function() {
            $('#question-three input').prop('disabled', $(this).is(':checked'));
             $('#question-three-ans').css("opacity","1")
              if($('input[name=three]:checked', '#question-three').val() == 'Nazmul Hassan Papon'){
               marks +=1; 
             
               
           } 
         });
           $('#question-four input').click(function() {
            $('#question-four input').prop('disabled', $(this).is(':checked'));
             $('#question-four-ans').css("opacity","1")
              if($('input[name=four]:checked', '#question-four').val() == 'Jamal Sheik'){
               marks +=1; 
             
              
           } 
         });
           $('#question-five input').click(function() {
            $('#question-five input').prop('disabled', $(this).is(':checked'));
             $('#question-five-ans').css("opacity","1")
              if($('input[name=five]:checked', '#question-five').val() == 'Mahmudullah Riad'){
               marks +=1; 
             
               
           } 
         });
         function marksDisplay(){
            alert('Your Score is:'+marks);
         }
        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pages/frontend/home.js"></script>
    <script src="js/pages/frontend/active.js"></script>
    <script src="js/pages/frontend/cart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="active.js"></script>
    <script src="formValidate.js"></script>
    <script src="home.js"></script>

</body>

</html>